body {
    /*background-image: url(../img/car.png);*/
    /*background-color: #3699EC;*/
    /*font-family: "Lato";*/
    /*font-weight: 300;*/
    /*font-size: 16px;*/
    /*color: #555;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-webkit-overflow-scrolling: touch;*/
    /*margin-top: 70px;*/

}
/* правило для всех колонок сетки bootstrap*/
div[class^=col] {
    /*background: #8CC7D9;*/
    /*border: 1px solid #6B6ACD;*/
}

.navbar-brand {
    padding: 0 40px;
}
.navig {
    height: 35px;
}
.content {
    margin-top: 18px;
    height: 90vh;
    /*border: 1px red solid;*/
    background: url(../img/car1.png) no-repeat center center #3699EC;
    background-size: 100vw;
}

.footer {
    background-color: #009AEF;
    min-height: 50px;
    border-top: 1px solid;
    color: white;
}

